################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/societe-generale/Src/Services/CreditPaymentSystem/API/CreditPaymentSystem.API/bin/Debug/net5.0
/societe-generale/Src/Services/CreditPaymentSystem/Core/CreditPaymentSystem.Application/bin/Debug/net5.0
/societe-generale/Src/Services/CreditPaymentSystem/Core/CreditPaymentSystem.Domain/bin/Debug/net5.0
/societe-generale/Src/Services/CreditPaymentSystem/Infrastructure/CreditPaymentSystem.Persistence/bin/Debug/net5.0
/societe-generale/Src/Services/CreditPaymentSystem/Infrastructure/CreditPaymentSystem.Persistence/obj
/societe-generale/Src/Services/CreditPaymentSystem/Tests/CreditPaymentSystem.API.IntegrationTests/bin/Debug/net5.0
/societe-generale/Src/Services/CreditPaymentSystem/Tests/CreditPaymentSystem.API.IntegrationTests/obj
/societe-generale/Src/Services/CreditPaymentSystem/Tests/CreditPaymentSystem.Application.Tests/bin/Debug/net5.0
/societe-generale/Src/Services/CreditPaymentSystem/Tests/CreditPaymentSystem.Application.Tests/obj
/societe-generale/Src/Services/CreditPaymentSystem/Tests/CreditPaymentSystem.Persistence.IntegrationTests/bin/Debug/net5.0
/societe-generale/Src/Services/CreditPaymentSystem/Tests/CreditPaymentSystem.Persistence.IntegrationTests/obj
/.vs/clean-architecture/v17
/.vs
/credit-payment-system/.vs
/credit-payment-system/Src/Services/CreditPaymentSystem/API/CreditPaymentSystem.API/bin/Debug/net5.0
/credit-payment-system/Src/Services/CreditPaymentSystem/Core/CreditPaymentSystem.Application/bin/Debug/net5.0
/credit-payment-system/Src/Services/CreditPaymentSystem/Core/CreditPaymentSystem.Domain/bin/Debug/net5.0
/credit-payment-system/Src/Services/CreditPaymentSystem/Infrastructure/CreditPaymentSystem.Persistence/bin/Debug/net5.0
/credit-payment-system/Src/Services/CreditPaymentSystem/Infrastructure/CreditPaymentSystem.Persistence/obj
/credit-payment-system/Src/Services/CreditPaymentSystem/Tests/CreditPaymentSystem.API.IntegrationTests/bin/Debug/net5.0
/credit-payment-system/Src/Services/CreditPaymentSystem/Tests/CreditPaymentSystem.API.IntegrationTests/obj
/credit-payment-system/Src/Services/CreditPaymentSystem/Tests/CreditPaymentSystem.Application.Tests/bin/Debug/net5.0
/credit-payment-system/Src/Services/CreditPaymentSystem/Tests/CreditPaymentSystem.Application.Tests/obj
/credit-payment-system/Src/Services/CreditPaymentSystem/Tests/CreditPaymentSystem.Persistence.IntegrationTests/bin/Debug/net5.0
/credit-payment-system/Src/Services/CreditPaymentSystem/Tests/CreditPaymentSystem.Persistence.IntegrationTests/obj
/credit-payment-system/Src/Services/CreditPaymentSystem/API/CreditPaymentSystem.API/obj/Debug/net5.0
